In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('./stock_002099_2016-02-29.csv')

In [5]:
df=df.drop_duplicates(['Date Time'])

In [9]:
df.to_csv('./stock_002099_2016-02-29.csv',index=False)

In [15]:
d=[[1,1,1,1],[1,1,1,1]]

In [16]:
df2=pd.DataFrame(d)

In [17]:
df2

   0  1  2  3
0  1  1  1  1
1  1  1  1  1