In [1]:
import pandas as pd

In [2]:
date=['2016-03-11','2016-03-02','2016-02-29']
instrument = '300251'

In [5]:
for d in date:
    filepath = './stock_'+ instrument + "_"+d+".csv"
    df=pd.read_csv(filepath)
    df=df.drop_duplicates(['Date Time'])
    df.to_csv(filepath,index=False)

In [4]:
df=pd.read_csv('./stock_002099_2016-03-11.csv')

In [5]:
df=df.drop_duplicates(['Date Time'])

In [9]:
df.to_csv('./stock_002099_2016-02-29.csv',index=False)

In [15]:
d=[[1,1,1,1],[1,1,1,1]]

In [16]:
df2=pd.DataFrame(d)

In [17]:
df2

   0  1  2  3
0  1  1  1  1
1  1  1  1  1

In [9]:
df.Close

0       8.65
1       8.64
2       8.64
3       8.65
4       8.65
5       8.64
6       8.65
7       8.65
8       8.64
9       8.65
10      8.65
11      8.64
12      8.65
13      8.65
14      8.65
15      8.64
16      8.65
17      8.66
18      8.65
19      8.63
20      8.65
21      8.64
22      8.64
23      8.64
24      8.64
25      8.64
26      8.64
27      8.64
28      8.64
29      8.63
        ...
4335    8.54
4336    8.54
4337    8.54
4338    8.54
4339    8.54
4340    8.55
4341    8.54
4342    8.55
4343    8.55
4344    8.55
4345    8.54
4346    8.55
4347    8.55
4348    8.55
4349    8.55
4350    8.55
4351    8.55
4352    8.55
4353    8.55
4354    8.55
4355    8.55
4356    8.55
4357    8.55
4358    8.55
4359    8.55
4360    8.55
4361    8.55
4362    8.55
4363    8.55
4364    8.55
Name: Close, dtype: float64

In [16]:
import matplotlib.pyplot as plt

In [17]:
plt.plot(df.Close)
plt.show()

In [6]:
from datetime import datetime

In [11]:
datetime.strptime('2016-03-06 09:30:00','%Y-%m-%d %H:%M:%S')

datetime.datetime(2016, 3, 6, 9, 30)

In [21]:
datetime.hour

True