In [1]:
import tushare as ts

In [7]:
ts.get_hist_data('300251',start='2016-03-10',end='2016-03-11')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2016-03-11,18.73,19.52,18.95,18.55,123219.24,0.05,0.27,19.382,19.401,21.489,191304.58,232954.31,295702.96,1.01
2016-03-10,19.50,19.71,18.90,18.76,140495.69,-0.57,-2.93,19.398,19.566,21.679,215983.48,247979.17,302230.18,1.15

In [6]:
range(0.05,0.7,0.05)

TypeError: 'float' object cannot be interpreted as an integer