In [1]:
import tushare as ts

In [2]:
ts.get_hist_data('300251',start='2016-02-26',end='2016-02-30')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2016-02-26,21.41,21.66,20.6,20.04,273467.84,-0.84,-3.92,22.762,23.577,22.555,295792.68,358451.61,303629.79,2.23